build/
devel/
install/
logs/
build_isolated/
devel_isolated/
.catkin_tools/
.colcon/
.vscode/
.idea/
.ccls-cache/
*.pyc
*.pyo
*.swp
*.swo
.DS_Store
*.bag

# Python cache
__pycache__/

# ROS/TF debug files
*.pdf
*.gv


# ML weights & runs
*.pt
*.onnx
runs/

