<launch>
  <!-- 你用 easy_handeye 標定後產出的檔名（不含路徑與副檔名 .yaml） -->
  <arg name="calib_name" default="ur3_realsense_handeyecalibration_eye_on_base"/>
  <!-- 若你另存路徑，改這裡 -->
  <arg name="calib_dir"  default="$(env HOME)/.ros/easy_handeye"/>

  <node pkg="handeye_test" type="publish_handeye_tf.py" name="publish_handeye_tf" output="screen">
    <param name="yaml_file" value="$(arg calib_dir)/$(arg calib_name).yaml"/>
  </node>
</launch>
